//META{"name":"F-Society","description":"Official F-Society Theme","author":"mryanker#3396","version":"1"}*//



/*█▀▀ ░ ░ █▀▀ █▀▀█ █▀▀ ░▀░ █▀▀ ▀▀█▀▀ █░░█
  █▀▀ ▀ ▀ ▀▀█ █░░█ █░░ ▀█▀ █▀▀ ░░█░░ █▄▄█
  ▀░░ ░ ░ ▀▀▀ ▀▀▀▀ ▀▀▀ ▀▀▀ ▀▀▀ ░░▀░░ ▄▄▄█*/




@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
:root {
--themeColor1: #6b04cb;
--themeColor2: #1efa1f;
--customFont: 'Trade Winds', sans-serif;
--homeImage: url('https://github.com/mryank3r/FSAssets/blob/master/Fsociety.gif?raw=true');
--backgroundColor: #130024;
--backgroundImage: url('https://github.com/mryank3r/FSAssets/blob/master/F-Society-BG2.png?raw=true');
--backgroundBlur: 2px;
--backgroundOpacity: .5;

--columns: 2;
--guildsize: 50;
--guildgap: 3;
--aligndms: 0;
}
